@font-face {
	font-family: "boss";
	src: url("../fonts/boss.eot?5cf3305a0e5098c0b285c7143f4dad3b?#iefix") format("embedded-opentype"),
url("../fonts/boss.woff2?5cf3305a0e5098c0b285c7143f4dad3b") format("woff2"),
url("../fonts/boss.woff?5cf3305a0e5098c0b285c7143f4dad3b") format("woff");
}

.boss {
	line-height: 1;
}

.boss:before {
	font-family: boss !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.boss-account-info:before {
	content: "\f101";
}
.boss-add-contact:before {
	content: "\f102";
}
.boss-add:before {
	content: "\f103";
}
.boss-app-bluetooth:before {
	content: "\f104";
}
.boss-app-call:before {
	content: "\f105";
}
.boss-app-camera:before {
	content: "\f106";
}
.boss-app-chat:before {
	content: "\f107";
}
.boss-app-close:before {
	content: "\f108";
}
.boss-app-compose:before {
	content: "\f109";
}
.boss-app-contact:before {
	content: "\f10a";
}
.boss-app-contacts:before {
	content: "\f10b";
}
.boss-app-delete-number:before {
	content: "\f10c";
}
.boss-app-eidt:before {
	content: "\f10d";
}
.boss-app-fund-history:before {
	content: "\f10e";
}
.boss-app-home:before {
	content: "\f10f";
}
.boss-app-info:before {
	content: "\f110";
}
.boss-app-location:before {
	content: "\f111";
}
.boss-app-pause:before {
	content: "\f112";
}
.boss-app-play:before {
	content: "\f113";
}
.boss-arrow-left:before {
	content: "\f114";
}
.boss-arrow-right:before {
	content: "\f115";
}
.boss-bank:before {
	content: "\f116";
}
.boss-billpay-domestic:before {
	content: "\f117";
}
.boss-billpay:before {
	content: "\f118";
}
.boss-calendar:before {
	content: "\f119";
}
.boss-call-filled:before {
	content: "\f11a";
}
.boss-call-intl:before {
	content: "\f11b";
}
.boss-call-outline:before {
	content: "\f11c";
}
.boss-calling-plan:before {
	content: "\f11d";
}
.boss-camera:before {
	content: "\f11e";
}
.boss-chat-history:before {
	content: "\f11f";
}
.boss-chat:before {
	content: "\f120";
}
.boss-check-filled:before {
	content: "\f121";
}
.boss-close:before {
	content: "\f122";
}
.boss-compliance:before {
	content: "\f123";
}
.boss-contact:before {
	content: "\f124";
}
.boss-credit-card:before {
	content: "\f125";
}
.boss-credit-cards:before {
	content: "\f126";
}
.boss-data:before {
	content: "\f127";
}
.boss-download:before {
	content: "\f128";
}
.boss-dropdown:before {
	content: "\f129";
}
.boss-faq:before {
	content: "\f12a";
}
.boss-finger-touch:before {
	content: "\f12b";
}
.boss-gift-domestic:before {
	content: "\f12c";
}
.boss-gift-intl:before {
	content: "\f12d";
}
.boss-gift:before {
	content: "\f12e";
}
.boss-global:before {
	content: "\f12f";
}
.boss-help:before {
	content: "\f130";
}
.boss-incoming-videocall-filled:before {
	content: "\f131";
}
.boss-incoming-filled:before {
	content: "\f132";
}
.boss-info-1:before {
	content: "\f133";
}
.boss-info-2:before {
	content: "\f134";
}
.boss-keypad:before {
	content: "\f135";
}
.boss-location:before {
	content: "\f136";
}
.boss-lock:before {
	content: "\f137";
}
.boss-log-out:before {
	content: "\f138";
}
.boss-manage-agent:before {
	content: "\f139";
}
.boss-manage-store:before {
	content: "\f13a";
}
.boss-menu:before {
	content: "\f13b";
}
.boss-message:before {
	content: "\f13c";
}
.boss-mic:before {
	content: "\f13d";
}
.boss-mobile-app:before {
	content: "\f13e";
}
.boss-mobile-devices:before {
	content: "\f13f";
}
.boss-mobile:before {
	content: "\f140";
}
.boss-money-transfer:before {
	content: "\f141";
}
.boss-mtu-domestic:before {
	content: "\f142";
}
.boss-mtu-intl:before {
	content: "\f143";
}
.boss-mtu:before {
	content: "\f144";
}
.boss-mute:before {
	content: "\f145";
}
.boss-mvno-activation:before {
	content: "\f146";
}
.boss-notification-filled:before {
	content: "\f147";
}
.boss-notification-outline:before {
	content: "\f148";
}
.boss-outgoing-videocall-filled:before {
	content: "\f149";
}
.boss-outgoing-filled:before {
	content: "\f14a";
}
.boss-pinless:before {
	content: "\f14b";
}
.boss-POS:before {
	content: "\f14c";
}
.boss-print:before {
	content: "\f14d";
}
.boss-privacy-policy:before {
	content: "\f14e";
}
.boss-receipt:before {
	content: "\f14f";
}
.boss-refresh:before {
	content: "\f150";
}
.boss-report-agents-stores:before {
	content: "\f151";
}
.boss-report-billpay:before {
	content: "\f152";
}
.boss-report-br-rewards:before {
	content: "\f153";
}
.boss-report-commisions:before {
	content: "\f154";
}
.boss-report-files:before {
	content: "\f155";
}
.boss-report-login-history:before {
	content: "\f156";
}
.boss-report-money-transfer:before {
	content: "\f157";
}
.boss-report-running-balance:before {
	content: "\f158";
}
.boss-report-transactions:before {
	content: "\f159";
}
.boss-search:before {
	content: "\f15a";
}
.boss-security:before {
	content: "\f15b";
}
.boss-send-message:before {
	content: "\f15c";
}
.boss-setting:before {
	content: "\f15d";
}
.boss-star-filled:before {
	content: "\f15e";
}
.boss-star-outline:before {
	content: "\f15f";
}
.boss-unlock:before {
	content: "\f160";
}
.boss-video-filled:before {
	content: "\f161";
}
.boss-video-outline:before {
	content: "\f162";
}
.boss-wallet:before {
	content: "\f163";
}
.boss-wifi:before {
	content: "\f164";
}
